<h1>お問い合わせが完了しました！</h1>
<h4>name: <%= @blog.user2.name %></h4>
<h4>お問い合わせ内容の確認</h4>
<p>content: <%= @blog.content %></p>
<p>image: <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url%></p>